In [2]:
import pandas as pd
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
df = pd.read_csv('spill_incidents.csv')

/Users/areena.arora/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "_")
# .str.replace("-", "_").str.replace("(", "").str.replace(")", "")

In [4]:
df.head(3)

,spill_number,program_facility_name,street_1,street_2,locality,county,zip_code,swis_code,dec_region,spill_date,received_date,contributing_factor,waterbody,source,close_date,material_name,material_family,quantity,units,recovered
0,107132,MH 864,RT 119/MILLWOOD RD,NaN,ELMSFORD,Westchester,NaN,6000,3,10/10/2001,10/10/2001,Unknown,NaN,Unknown,10/15/2001,unknown material,Other,10.0,Gallons,0.0
1,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,Pounds,0.0
2,405586,BOWRY BAY,WATER POLL CONTROL,NaN,QUEENS,Queens,NaN,4101,2,08/21/2004,08/21/2004,Other,EAST RIVER,Unknown,09/17/2004,raw sewage,Other,0.0,NaN,0.0

In [5]:
df.contributing_factor.value_counts()

Equipment Failure                           191962
Unknown                                      93688
Other                                        54101
Human Error                                  34274
Traffic Accident                             30668
Tank Test Failure                            28394
Tank Failure                                 22221
Deliberate                                   22098
Housekeeping                                 16410
Tank Overfill                                11124
Abandoned Drums                               8675
Storm                                         8173
Vandalism                                     1810
Missing Code in Old Data - Must be fixed       157
Name: contributing_factor, dtype: int64

In [ ]:
df.sort_values(['locality', 'spill_date']).groupby(level=0).head(3)

In [ ]:
df.groupby(by='county').contributing_factor.value_counts()

In [ ]:
df.loc[df.contributing_factor == 'Human Error'].groupby(by='county').count()

In [ ]:
df.loc[df.county == 'Shinnecock Indian Reservation']

In [ ]:
df.loc[df.contributing_factor == 'Abandoned Drums']

In [ ]:
df.loc[df.contributing_factor == 'Abandoned Drums'].sort_values(by='quantity', ascending=False)

In [ ]:
df.dtypes

In [ ]:
df.loc[df.contributing_factor == 'Abandoned Drums'].sort_values(by='quantity', ascending=False)

In [ ]:
df.waterbody.value_counts()

In [ ]:
df['spill_date'] = pd.to_datetime(df.spill_date, format="%m/%d/%Y %I:%M:%S %p", errors='coerce')
df['close_date'] = pd.to_datetime(df.close_date, format="%m/%d/%Y %I:%M:%S %p", errors='coerce')
df.head()

In [ ]:
df.dtypes

Questions to ask of the data:
1. Where did the most incidents occur?
2. What's the most common type of material spilled?
3. What's the biggest quantity of spill?
4. What are the biggest spills by each county?
5. Shortest clean up time
6. Longest clean up time
7. Most common and least common source of spills

### Where did the most incidents occur?

In [ ]:
df.county.value_counts().head(5)

In [ ]:
df['county'].value_counts().groupby(by='contributing_factor')